{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block content %}
    <h2>Заказ {{ order.id }}:</h2>
    <h3>Сумма заказа = {{ order.sum }}</h3>
    <div class="cart-products">
        {% for product in products %}
            <div class="card">
                <div class="card-body">
                    <div class="card-title">{{ product.title }}</div>
                    <div class="product-price">{{ product.price }}</div>
                    <div class="product-category">{{ product.category_title }}</div>
                    <img src="{{ product.image }}" alt="{{ product.image }}" class="product-image">
                    <p>
                        <a class="btn btn-primary" href="{{ url_for('product.product_detail', product_id=product.id) }}" role="button">Подробнее</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}