{% extends 'base.html' %}
{% block title %}Войти{% endblock title %}block
{% block content %}
    <h2 class="page-title">Вход в аккаунт</h2>
    <form action="{{ url_for('.signin') }}" method="post">
        {{ csrf_token }}
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Логин" name="nickname" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-lg"  placeholder="Пароль" name="password" required>
        </div>
        <p><button type="submit" class="btn btn-primary">Submit</button></p>
    </form>
{% endblock content %}